name: Greet Pull Request

on:
  pull_request:
    types:
      - opened

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Greet the user
        uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.KEVI_TOKEN }}
          issue-message: |
            Hi {{ github.actor }}!

            Thanks for opening a new pull request. We appreciate your contribution to the project.

            Please let us know if you have any questions.

          pr-message: |
            Hi {{ github.actor }}!

            Thanks for opening a new pull request. We'll review it soon.

            In the meantime, please let us know if you have any questions.
